---
import Layout from '../../layouts/Layout.astro';
import { Hero } from '../../components/gp/Hero';
import { Problem } from '../../components/gp/Problem';
import { Solution } from '../../components/gp/Solution';
import { Compliance } from '../../components/gp/Compliance';
import { ServicesTable } from '../../components/gp/ServicesTable';
import { CaseStudy } from '../../components/gp/CaseStudy';
import { FinalCTA } from '../../components/gp/FinalCTA';
import { FAQ } from '../../components/landing-page/FAQ';
---

<Layout title="Digital Marketing for GPs | Lamanify" description="We help Malaysian GP clinics shift from low-margin 'sick visits' to high-value cash services. Dominate your local area.">
    
    <main>
        <Hero client:load />
        <Problem client:visible />
        <Solution client:visible />
        <Compliance client:visible />
        <ServicesTable client:visible />
        <CaseStudy client:visible />
        <FinalCTA client:visible />
    </main>

</Layout>
